@model IEnumerable<EmpleadosDep.Modelos.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create">Crear nuevo Departamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DepartamentoId }) |
                    @Html.ActionLink("Details", "Details", new {id=item.DepartamentoId }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.DepartamentoId})
            </td>
        </tr>
}
    </tbody>
</table>
