@model IEnumerable<EmpleadosDep.Modelos.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Crear nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartamentoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Nombre)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EmpleadoId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.EmpleadoId }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.EmpleadoId })
            </td>
        </tr>
}
    </tbody>
</table>
